@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.added {
    transition: all 0.075s ease-out;
    text-decoration: none;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 18px;
    color: grey;
    line-height: 1.5;
    background-color: rgba(56, 68, 79, 1);
    height: 60px;
    align-items: center;
    position: relative;
    top: -10px;
}

.addedContainer h1 {
    display: flex;
    justify-content: center;
    font-family: "poppins";
}

.added img {
    height: 50px;
    width: 50px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.newItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    margin : 0px 300px 0px 300px;
}

.shoeProduct {
    height: 250px;
    width: 300px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;

}

.shoeProduct img {
    height: 192px;
    width: 200px;
    margin-left: 48px;
}

#shoeName {
    position: absolute;
    top: 170px;
}

#shoePrice {
    position: absolute;
    top: 225px;
    left: 5px;
}


#addItem {
    width: 140px;
    left: 152px;
    font-size: 15px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: normal;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 35px;
    will-change: transform;
    top: 211px;
    position: absolute;
    bottom: left;
}

#addItem:disabled {
    pointer-events: none;
}

#addItem:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#addItem:active {
    box-shadow: none;
    transform: translateY(0);
}