.dropdown {
    display: inline;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

.dropdownToggle , .dropdownMenuLi{
    appearance: none;
    background-color: #000000;
    border:  solid black;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin: 4px;
}

.dropdownMenuLi {
    min-width: 145px;
}

.dropdownToggle:disabled {
  pointer-events: none;
}

.dropdownToggle:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.dropdownToggle:active {
  box-shadow: none;
  transform: translateY(0);
}
